In [1]:
from PrjtCF_model_pkg.config import *
import importlib

In [2]:
from PrjtCF_exercise_data import InputData_ex1 as D2

In [3]:
importlib.reload(D2)

# Data Summary

In [6]:
print("Total Sales Amount : {:,.0f}".format(D2.sales.amt().sum()))
print("Total Cost Fixed Amount : {:,.0f}".format(D2.cstfxd.amt().sum()))
print("Total Cost for Sale Amount : {:,.0f}".format(D2.cstfsl.amt().sum()))
print("Total Financial Cost Amount : {:,.0f}".format(D2.cstfnc.amt().sum()))

Total Sales Amount : 130,000
Total Cost Fixed Amount : 68,264
Total Cost for Sale Amount : 21,500
Total Financial Cost Amount : 4,400

# Cash Flow

In [5]:
importlib.reload(D2)

# read basic data
ttlsales = D2.sales.amt().sum()

# make empty cashflow dataframe
columns = ['BAL_INTL', 'sales_paid', 'sales_rate', 'TrA_paid', 'TrB_paid', 'INFLWD_AMT',
           'cstfnc_paid', 'TrA_feerepd', 'TrB_feerepd', 'TrA_IRrepd', 'TrB_IRrepd', 'OUTFLWD_FN',
           'cstfxd_paid', 'cstfsl_paid', 'OUTFLWD_CST', 
           'NET_OPRTN',
           'TrA_amtrepd', 'TrB_amtrepd', 'OUTFLWD_NTL',
           'BAL_CLSN']
index = np.arange(-1, D2.mtrt + 1)
cashflow = pd.DataFrame(np.zeros([len(index), len(columns)]), columns=columns, index=index)

# make accounts
acc_repmt = D2.acc.account(D2.mtrt)
acc_oprtn = D2.acc.account(D2.mtrt)

# start writing cash flow
for idx in np.arange(0, D2.mtrt+1):
    cashflow.loc[idx, 'BAL_INTL'] = acc_oprtn.bal_intl(idx) + acc_repmt.bal_intl(idx)

    #### SALES AMT INFLOWED ####
    # pay sales amount
    for dct in D2.sales_dct:
        D2.sales_dct[dct].amt_pay(idx) # <- 분양대금 입금 일정 추가 필요 : 분양대금 입금 스케줄, 실 분양계약 발생일, 분양계약 발생에 따른 분양대금 입금 스케줄
    cashflow.loc[idx, 'sales_paid'] = D2.sales.df('amt_paid').loc[idx].sum()
    cashflow.loc[idx, 'sales_rate'] = cashflow.loc[idx, 'sales_paid'] / ttlsales

    # sum up the results
    acc_repmt.addamt(idx, cashflow.loc[idx, 'sales_paid'] * D2.repybal_rate)
    acc_oprtn.addamt(idx, cashflow.loc[idx, 'sales_paid'] * (1 - D2.repybal_rate))
    cashflow.loc[idx, 'INFLWD_AMT'] = cashflow.loc[idx, 'sales_paid']
    #### SALES AMT INFLOWED ####


    #### TRANSFER AMOUNT ON REPAYMENT ACCOUNT TO OPERATING ACCOUNT ####
    amt_trsfr_TrA = min(acc_repmt.bal_clsn(idx), D2.TrA.amt_wtdrwbl(idx))
    acc_repmt.subamt(idx, amt_trsfr_TrA)
    acc_oprtn.addamt(idx, amt_trsfr_TrA)
    D2.TrA.amt_rdc(idx, amt_trsfr_TrA)
    
    if D2.TrA.is_repaid() is True:
        amt_trsfr_TrB = min(acc_repmt.bal_clsn(idx), D2.TrB.amt_wtdrwbl(idx))
        acc_repmt.subamt(idx, amt_trsfr_TrB)
        acc_oprtn.addamt(idx, amt_trsfr_TrB)
        D2.TrB.amt_rdc(idx, amt_trsfr_TrB)
    #### TRANSFER AMOUNT ON REPAYMENT ACCOUNT TO OPERATING ACCOUNT ####
    
    
    #### ESTIMATE FINANCIAL COST AMOUNT ####
    # financial fee amt
    feeamt_TrA = D2.TrA.df.loc[idx, 'fee_unpd']
    feeamt_TrB = D2.TrB.df.loc[idx, 'fee_unpd']
    
    # IR to pay amt
    cstamt_fnc = sum([D2.cstfnc_dct[key].cost_amt(idx) for key in D2.cstfnc_dct])
    IRamt_TrA = D2.TrA.IR_rsdl(idx)
    IRamt_TrB = D2.TrB.IR_rsdl(idx)
    
    # sum up
    ttlamt_fnc = feeamt_TrA + feeamt_TrB + cstamt_fnc + IRamt_TrA + IRamt_TrB
    #### ESTIMATE FINANCIAL COST AMOUNT ####
    
    
    #### ESTIMATE FIXED/FOR-SALE COST AMOUNT ####
    cstamt_fxd = sum([D2.cstfxd_dct[key].cost_amt(idx) for key in D2.cstfxd_dct])
    cstamt_fsl = sum([D2.cstfsl_dct[key].amt * cashflow.loc[idx, 'sales_rate'] for key in D2.cstfsl_dct])
    #### ESTIMATE FIXED/FOR-SALE COST AMOUNT ####
    
    
    #### ESTIMATE SHORT TO PAY AND PAY LOAN ####
    ttlamt_topay = ttlamt_fnc + cstamt_fxd + cstamt_fsl
    short_amt = ttlamt_topay - acc_oprtn.bal_clsn(idx)
    
    tmpamt_rqrd = 0
    if short_amt > 0:
        payamt_min = 1_000
        tmpamt_rqrd = np.ceil(short_amt / payamt_min) * payamt_min

        # withdraw Tr.B amount
        tmpamt_topay = min(D2.TrB.amt_wtdrwbl(idx), tmpamt_rqrd)
        D2.TrB.amt_pay(idx, tmpamt_topay) # withdraw loan
        cashflow.loc[idx, 'TrB_paid'] = acc_oprtn.addamt(idx, D2.TrB.df.loc[idx, 'amt_paid'])
            # => add amount amt_paid to operating account and apply to cashflow dataframe
        tmpamt_rqrd = max(tmpamt_rqrd - tmpamt_topay, 0)

        # withdraw Tr.A amount
        tmpamt_topay = min(D2.TrA.amt_wtdrwbl(idx), tmpamt_rqrd)
        D2.TrA.amt_pay(idx, tmpamt_topay) # withdraw loan
        cashflow.loc[idx, 'TrA_paid'] = acc_oprtn.addamt(idx, D2.TrA.df.loc[idx, 'amt_paid'])
            # => add amount amt_paid to operating account and apply to cashflow dataframe
        tmpamt_rqrd = max(tmpamt_rqrd - tmpamt_topay, 0)
        
    cashflow.loc[idx, 'INFLWD_AMT'] = cashflow.loc[idx, 'INFLWD_AMT'] \
                                      + cashflow.loc[idx, 'TrB_paid'] + cashflow.loc[idx, 'TrA_paid']
    #### ESTIMATE SHORT TO PAY AND PAY LOAN ####

    
    #### PAY FINANCIAL COST AMOUNT ####
    tmpamt_cum = 0
    
    # repay financial cost amount
    for key in D2.cstfnc_dct:
        D2.cstfnc_dct[key].amt_pay(idx)
    tmpamt_torepy = D2.cstfnc.df('amt_paid').loc[idx].sum()
    tmpamt_cum += tmpamt_torepy
    acc_oprtn.subamt(idx, tmpamt_torepy) # withdraw repayment amt from operating account
    cashflow.loc[idx, 'cstfnc_paid'] = tmpamt_torepy # apply to cashflow dataframe

    # repay fee amt
    D2.TrA.fee_repay(idx, feeamt_TrA)
    tmpamt_torepy = D2.TrA.df.loc[idx, 'fee_repd']
    tmpamt_cum += tmpamt_torepy
    acc_oprtn.subamt(idx, tmpamt_torepy) # withdraw repayment amt from operating account
    cashflow.loc[idx, 'TrA_feerepd'] = tmpamt_torepy # apply to cashflow dataframe
    
    D2.TrB.fee_repay(idx, feeamt_TrB)
    tmpamt_torepy = D2.TrB.df.loc[idx, 'fee_repd']
    tmpamt_cum += tmpamt_torepy
    acc_oprtn.subamt(idx, tmpamt_torepy) # withdraw repayment amt from operating account
    cashflow.loc[idx, 'TrB_feerepd'] = tmpamt_torepy # apply to cashflow dataframe
    
    D2.TrA.IR_repay(idx, IRamt_TrA)
    tmpamt_torepy = D2.TrA.df.loc[idx, 'IR_repd']
    tmpamt_cum += tmpamt_torepy
    acc_oprtn.subamt(idx, tmpamt_torepy) # withdraw repayment amt from operating account
    cashflow.loc[idx, 'TrA_IRrepd'] = tmpamt_torepy # apply to cashflow dataframe

    D2.TrB.IR_repay(idx, IRamt_TrB)
    tmpamt_torepy = D2.TrB.df.loc[idx, 'IR_repd']
    tmpamt_cum += tmpamt_torepy
    acc_oprtn.subamt(idx, tmpamt_torepy) # withdraw repayment amt from operating account
    cashflow.loc[idx, 'TrB_IRrepd'] = tmpamt_torepy # apply to cashflow dataframe

    # sum up the results
    cashflow.loc[idx, 'OUTFLWD_FN'] = tmpamt_cum
    #### PAY FINANCIAL COST AMOUNT ####


    #### PAY FIXED AND FOR-SALE COST AMOUNT ####
    tmpamt_cum = 0

    for dct in D2.cstfxd_dct:
        D2.cstfxd_dct[dct].amt_pay(idx)
    tmpamt_topay = D2.cstfxd.df('amt_paid').loc[idx].sum()
    tmpamt_cum += tmpamt_topay
    acc_oprtn.subamt(idx, tmpamt_topay) # withdraw payment amt from operating account
    cashflow.loc[idx, 'cstfxd_paid'] = tmpamt_topay # apply to cashflow dataframe

    for dct in D2.cstfsl_dct:
        tmp_amt = D2.cstfsl_dct[dct].amt * cashflow.loc[idx, 'sales_rate']
        D2.cstfsl_dct[dct].amt_pay(idx, tmp_amt)
    tmpamt_topay = D2.cstfsl.df('amt_paid').loc[idx].sum()
    tmpamt_cum += tmpamt_topay
    acc_oprtn.subamt(idx, tmpamt_topay) # withdraw payment amt from operating account
    cashflow.loc[idx, 'cstfsl_paid'] = tmpamt_topay # apply to cashflow dataframe

    # sum up the results
    cashflow.loc[idx, 'OUTFLWD_CST'] = tmpamt_cum
    #### PAY FIXED AND FOR-SALE COST AMOUNT ####


    #### REPAY NOTIONAL AMOUNT ####
    amt_repmt_TrA = min(acc_repmt.bal_clsn(idx), D2.TrA.amt_rsdl(idx))
    acc_repmt.subamt(idx, amt_repmt_TrA)
    D2.TrA.amt_repay(idx, amt_repmt_TrA)
    cashflow.loc[idx, 'TrA_amtrepd'] = D2.TrA.df.loc[idx, 'amt_repd']
    
    if D2.TrA.is_repaid() is True:
        amt_repmt_TrB = min(acc_repmt.bal_clsn(idx), D2.TrB.amt_rsdl(idx))
        acc_repmt.subamt(idx, amt_repmt_TrB)
        D2.TrB.amt_repay(idx, amt_repmt_TrB)
        cashflow.loc[idx, 'TrB_amtrepd'] = D2.TrB.df.loc[idx, 'amt_repd']
        
    cashflow.loc[idx, 'OUTFLWD_NTL'] = cashflow.loc[idx, 'TrA_amtrepd'] + cashflow.loc[idx, 'TrB_amtrepd']
    #### REPAY NOTIONAL AMOUNT ####

    
    #### CLOSING ####
    cashflow.loc[idx, 'NET_OPRTN'] = cashflow.loc[idx, 'INFLWD_AMT'] - cashflow.loc[idx, 'OUTFLWD_FN'] - cashflow.loc[idx, 'OUTFLWD_CST']
    cashflow.loc[idx, 'BAL_CLSN'] = acc_oprtn.bal_clsn(idx) + acc_repmt.bal_clsn(idx)
    #### CLOSING ####
    
    
B(cashflow)

,BAL_INTL,sales_paid,sales_rate,TrA_paid,TrB_paid,INFLWD_AMT,cstfnc_paid,TrA_feerepd,TrB_feerepd,TrA_IRrepd,TrB_IRrepd,OUTFLWD_FN,cstfxd_paid,cstfsl_paid,OUTFLWD_CST,NET_OPRTN,TrA_amtrepd,TrB_amtrepd,OUTFLWD_NTL,BAL_CLSN
-1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,"10,000","30,000","40,000","4,400","1,200","1,500",0,0,"7,100","32,000",0,"32,000",900,0,0,0,900
1,900,"13,000",0,0,0,"13,000",0,0,0,42,175,217,"1,511","2,150","3,661","9,122",0,0,0,"10,022"
2,"10,022",0,0,0,0,0,0,0,0,42,175,217,"1,511",0,"1,511","-1,728",0,0,0,"8,295"
3,"8,295",0,0,0,0,0,0,0,0,42,175,217,"1,511",0,"1,511","-1,728",0,0,0,"6,567"
4,"6,567",0,0,0,0,0,0,0,0,42,175,217,"1,511",0,"1,511","-1,728",0,0,0,"4,839"
5,"4,839",0,0,0,0,0,0,0,0,42,175,217,"1,511",0,"1,511","-1,728",0,0,0,"3,112"
6,"3,112",0,0,0,0,0,0,0,0,42,175,217,"1,511",0,"1,511","-1,728",0,0,0,"1,384"
7,"1,384",0,0,"1,000",0,"1,000",0,0,0,42,175,217,"1,511",0,"1,511",-728,0,0,0,656
8,656,"26,000",0,0,0,"26,000",0,0,0,46,175,221,"1,511","4,300","5,811","19,968",0,0,0,"20,624"
9,"20,624",0,0,0,0,0,0,0,0,46,175,221,"1,511",0,"1,511","-1,732",0,0,0,"18,893"
10,"18,893",0,0,0,0,0,0,0,0,46,175,221,"1,511",0,"1,511","-1,732",0,0,0,"17,161"
11,"17,161",0,0,0,0,0,0,0,0,46,175,221,"1,511",0,"1,511","-1,732",0,0,0,"15,429"
12,"15,429",0,0,0,0,0,0,0,0,46,175,221,"1,511",0,"1,511","-1,732",0,0,0,"13,697"
13,"13,697",0,0,0,0,0,0,0,0,46,175,221,"1,511",0,"1,511","-1,732",0,0,0,"11,965"
14,"11,965",0,0,0,0,0,0,0,0,46,175,221,"1,511",0,"1,511","-1,732",0,0,0,"10,233"
15,"10,233",0,0,0,0,0,0,0,0,46,175,221,"1,511",0,"1,511","-1,732",0,0,0,"8,502"
16,"8,502","26,000",0,0,0,"26,000",0,0,0,46,175,221,"1,511","4,300","5,811","19,968","3,000",0,"3,000","25,470"
17,"25,470",0,0,0,0,0,0,0,0,33,175,208,"1,511",0,"1,511","-1,719",0,0,0,"23,750"
18,"23,750",0,0,0,0,0,0,0,0,33,175,208,"1,511",0,"1,511","-1,719",0,0,0,"22,031"
19,"22,031",0,0,0,0,0,0,0,0,33,175,208,"1,511",0,"1,511","-1,719",0,0,0,"20,312"
20,"20,312",0,0,0,0,0,0,0,0,33,175,208,"1,511",0,"1,511","-1,719",0,0,0,"18,593"
21,"18,593",0,0,0,0,0,0,0,0,33,175,208,"1,511",0,"1,511","-1,719",0,0,0,"16,873"
22,"16,873",0,0,0,0,0,0,0,0,33,175,208,"1,511",0,"1,511","-1,719",0,0,0,"15,154"
23,"15,154",0,0,0,0,0,0,0,0,33,175,208,"1,511",0,"1,511","-1,719",0,0,0,"13,435"
24,"13,435","65,000",0,0,0,"65,000",0,0,0,33,175,208,"1,511","10,750","12,261","52,531","8,000","30,000","38,000","27,965"
25,"27,965",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"27,965"
26,"27,965",0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"27,965"

In [9]:
D2.TrA.df

,amt_ntnl,amt_rdcd,amt_rdcd_cum,amt_paid,amt_paid_cum,amt_wtdrwbl,amt_repy_scd,amt_repd,amt_repd_cum,amt_rsdl,amt_paid_forIR,IR_rate,IR_amt,IR_amt_cum,IR_repd,IR_repd_cum,IR_rsdl,fee_amt,fee_repd,fee_unpd
-1,110000.0,0.000000,0.000000,0.0,0.0,110000.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.043,0.000000,0.000000,0.000000,0.000000,0.0,1870.0,0.0,1870.0
0,110000.0,0.000000,0.000000,27000.0,27000.0,83000.000000,0.0,0.000000,0.000000,27000.000000,0.000000,0.043,0.000000,0.000000,0.000000,0.000000,0.0,1870.0,1870.0,0.0
1,110000.0,19492.971503,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,96.750000,96.750000,96.750000,0.0,1870.0,0.0,0.0
2,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,193.500000,96.750000,193.500000,0.0,1870.0,0.0,0.0
3,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,290.250000,96.750000,290.250000,0.0,1870.0,0.0,0.0
4,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,387.000000,96.750000,387.000000,0.0,1870.0,0.0,0.0
5,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,483.750000,96.750000,483.750000,0.0,1870.0,0.0,0.0
6,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,580.500000,96.750000,580.500000,0.0,1870.0,0.0,0.0
7,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,677.250000,96.750000,677.250000,0.0,1870.0,0.0,0.0
8,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,774.000000,96.750000,774.000000,0.0,1870.0,0.0,0.0
9,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,870.750000,96.750000,870.750000,0.0,1870.0,0.0,0.0
10,110000.0,0.000000,19492.971503,0.0,27000.0,63507.028497,0.0,0.000000,0.000000,27000.000000,27000.000000,0.043,96.750000,967.500000,96.750000,967.500000,0.0,1870.0,0.0,0.0
11,110000.0,0.000000,19492.971503,1000.0,28000.0,62507.028497,0.0,0.000000,0.000000,28000.000000,27000.000000,0.043,96.750000,1064.250000,96.750000,1064.250000,0.0,1870.0,0.0,0.0
12,110000.0,0.000000,19492.971503,2000.0,30000.0,60507.028497,0.0,0.000000,0.000000,30000.000000,28000.000000,0.043,100.333333,1164.583333,100.333333,1164.583333,0.0,1870.0,0.0,0.0
13,110000.0,38985.943006,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,1272.083333,107.500000,1272.083333,0.0,1870.0,0.0,0.0
14,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,1379.583333,107.500000,1379.583333,0.0,1870.0,0.0,0.0
15,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,1487.083333,107.500000,1487.083333,0.0,1870.0,0.0,0.0
16,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,1594.583333,107.500000,1594.583333,0.0,1870.0,0.0,0.0
17,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,1702.083333,107.500000,1702.083333,0.0,1870.0,0.0,0.0
18,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,1809.583333,107.500000,1809.583333,0.0,1870.0,0.0,0.0
19,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,1917.083333,107.500000,1917.083333,0.0,1870.0,0.0,0.0
20,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,2024.583333,107.500000,2024.583333,0.0,1870.0,0.0,0.0
21,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,2132.083333,107.500000,2132.083333,0.0,1870.0,0.0,0.0
22,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,2239.583333,107.500000,2239.583333,0.0,1870.0,0.0,0.0
23,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,2347.083333,107.500000,2347.083333,0.0,1870.0,0.0,0.0
24,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,2454.583333,107.500000,2454.583333,0.0,1870.0,0.0,0.0
25,110000.0,0.000000,58478.914509,0.0,30000.0,21521.085491,0.0,0.000000,0.000000,30000.000000,30000.000000,0.043,107.500000,2562.083333,107.500000,2562.083333,0.0,1870.0,0.0,0.0
26,110000.0,21521.085491,80000.000000,0.0,30000.0,0.000000,0.0,17464.857515,17464.857515,12535.142485,30000.000000,0.043,107.500000,2669.583333,107.500000,2669.583333,0.0,1870.0,0.0,0.0
27,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,2714.500927,44.917594,2714.500927,0.0,1870.0,0.0,0.0
28,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,2759.418521,44.917594,2759.418521,0.0,1870.0,0.0,0.0
29,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,2804.336115,44.917594,2804.336115,0.0,1870.0,0.0,0.0
30,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,2849.253709,44.917594,2849.253709,0.0,1870.0,0.0,0.0
31,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,2894.171303,44.917594,2894.171303,0.0,1870.0,0.0,0.0
32,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,2939.088897,44.917594,2939.088897,0.0,1870.0,0.0,0.0
33,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,2984.006491,44.917594,2984.006491,0.0,1870.0,0.0,0.0
34,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,3028.924085,44.917594,3028.924085,0.0,1870.0,0.0,0.0
35,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,3073.841678,44.917594,3073.841678,0.0,1870.0,0.0,0.0
36,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,3118.759272,44.917594,3118.759272,0.0,1870.0,0.0,0.0
37,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,3163.676866,44.917594,3163.676866,0.0,1870.0,0.0,0.0
38,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,3208.594460,44.917594,3208.594460,0.0,1870.0,0.0,0.0
39,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,17464.857515,12535.142485,12535.142485,0.043,44.917594,3253.512054,44.917594,3253.512054,0.0,1870.0,0.0,0.0
40,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,12535.142485,30000.000000,0.000000,12535.142485,0.043,44.917594,3298.429648,44.917594,3298.429648,0.0,1870.0,0.0,0.0
41,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,0.0,0.000000,30000.000000,0.000000,0.000000,0.043,0.000000,3298.429648,0.000000,3298.429648,0.0,1870.0,0.0,0.0
42,110000.0,0.000000,80000.000000,0.0,30000.0,0.000000,110000.0,0.000000,30000.000000,0.000000,0.000000,0.043,0.000000,3298.429648,0.000000,3298.429648,0.0,1870.0,0.0,0.0

In [102]:
acc_repmt.df

        bal_intl       amt_add       amt_sub     bal_clsn
-1       0.00000      0.000000      0.000000      0.00000
 0       0.00000      0.000000      0.000000      0.00000
 1       0.00000  19492.971503  19492.971503      0.00000
 2       0.00000      0.000000      0.000000      0.00000
 3       0.00000      0.000000      0.000000      0.00000
 4       0.00000      0.000000      0.000000      0.00000
 5       0.00000      0.000000      0.000000      0.00000
 6       0.00000      0.000000      0.000000      0.00000
 7       0.00000      0.000000      0.000000      0.00000
 8       0.00000      0.000000      0.000000      0.00000
 9       0.00000      0.000000      0.000000      0.00000
 10      0.00000      0.000000      0.000000      0.00000
 11      0.00000      0.000000      0.000000      0.00000
 12      0.00000      0.000000      0.000000      0.00000
 13      0.00000  38985.943006  38985.943006      0.00000
 14      0.00000      0.000000      0.000000      0.00000
 15      0.00000      0.000000      0.000000      0.00000
 16      0.00000      0.000000      0.000000      0.00000
 17      0.00000      0.000000      0.000000      0.00000
 18      0.00000      0.000000      0.000000      0.00000
 19      0.00000      0.000000      0.000000      0.00000
 20      0.00000      0.000000      0.000000      0.00000
 21      0.00000      0.000000      0.000000      0.00000
 22      0.00000      0.000000      0.000000      0.00000
 23      0.00000      0.000000      0.000000      0.00000
 24      0.00000      0.000000      0.000000      0.00000
 25      0.00000      0.000000      0.000000      0.00000
 26      0.00000  38985.943006  38985.943006      0.00000
 27      0.00000      0.000000      0.000000      0.00000
 28      0.00000      0.000000      0.000000      0.00000
 29      0.00000      0.000000      0.000000      0.00000
 30      0.00000      0.000000      0.000000      0.00000
 31      0.00000      0.000000      0.000000      0.00000
 32      0.00000      0.000000      0.000000      0.00000
 33      0.00000      0.000000      0.000000      0.00000
 34      0.00000      0.000000      0.000000      0.00000
 35      0.00000      0.000000      0.000000      0.00000
 36      0.00000      0.000000      0.000000      0.00000
 37      0.00000      0.000000      0.000000      0.00000
 38      0.00000      0.000000      0.000000      0.00000
 39      0.00000      0.000000      0.000000      0.00000
 40      0.00000  97464.857515  42535.142485  54929.71503
 41  54929.71503      0.000000      0.000000  54929.71503
 42  54929.71503      0.000000      0.000000  54929.71503